<div class="container">
	<form name="productForm" novalidate role="form" id="productForm" name="productForm">
		<div class="row" id="product-description">
			<div class="col-md-2">
				<div flow-init="{singleFile:true, target:'upload', testChunks:false}"
					flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
					flow-files-submitted="$flow.upload()"
					flow-file-success="handleUploadSuccess($file, $message)"
					flow-file-error="handleUploadError($file, $message);">
					<span class="glyphicon glyphicon-remove-circle"
						ng-show="$flow.files.length"
						ng-click="$flow.cancel();clearImage();">
					</span>
					<span class="btn btn-default" flow-btn="">
						<div ng-hide="$flow.files.length">
						  <img src="{{product.imageUrl}}" width="150px"></img>
						</div>
						<div ng-show="$flow.files.length">
						  <img flow-img="$flow.files[0]" width="150px"></img>
						</div>
					</span>
				</div>
			</div>
			<div class="col-md-1">
				<span>&nbsp;</span>
			</div>
			<div class="col-md-9">
				<div class="row">
					<div class="form-group has-feedback">
			    	<h1>
			    		<input class="form-control input-lg" name="productName" 
			    			type="text" placeholder="Product name" size="30"
			    			ng-model="product.name"
			    			ng-minlength="3"
			    			ng-maxlength="100"
			    			required> <!-- TODO unique="products" -->
			    	</h1>
		    		<div ng-messages="productForm.productName.$error" ng-show="productForm.productName.$dirty">
			          	<p class="cxt-error-msg" ng-message="minlength">Name must be at least 3 characters long</p>
			            <p class="cxt-error-msg" ng-message="maxlength">Name must contain less than 100 characters</p>
			            <p class="cxt-error-msg" ng-message="required">Name is a required field</p>
		         	</div>
			    </div>
			    <div class="row">
					<isteven-multi-select
		    			input-model="categories"
					    output-model="selectedCategories"
					    button-label="name"
					    item-label="name"
					    tick-property="ticked"
					    translation="categoriesLocalLang">
					</isteven-multi-select>
				</div>
				</div>
			</div>
		</div>
		<div class="row" id="spacer">
			<span>&nbsp</span>
		</div>
		<div class="row" id="product-composition">
			<h2>Composition</h2>
			<isteven-multi-select
				input-model="ingredients"
			    output-model="selectedIngredients"
			    button-label="name"
			    item-label="name"
			    tick-property="ticked"
			    max-labels="2"
			    translation="ingredientsLocalLang">
			</isteven-multi-select>
			<input type="button"
				class="btn btn-default"
				value="New Ingredient"
				ng-click="showIngredientModal()">
			<div class="panel panel-default">
  			<div class="panel-heading">
   				<span class="panel-title">Ingredients</span>
  			</div>
				<div class="panel-body">
					<h4>
						<span class="label label-primary ingredient"
							ng-repeat="ingredient in selectedIngredients"
							id="ingredient-{{$index}}">
							{{ingredient.name}}&nbsp;
							<a class="glyphicon glyphicon-remove-circle"
							ng-click="deselectIngredient($index,ingredient)"></a>
						</span>
					</h4>
				</div>
			</div>
		</div>
		<div class="row" id="product-options">
			<h2>Retail Options</h2>
			<input type="button"
				class="btn btn-default"
				value="Add Option"
				ng-click="showOptionModal();">
			<div class="panel panel-default">
				<div class="panel-body">
					<table class="table table-striped" ng-show="product.retailOptions.length">
						<thead>
							<tr>
								<th>Name</th>
								<th>Description</th>
								<th>Price (R$)</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="ro in product.retailOptions">
								<td>{{ro.name}}</td>
								<td>{{ro.description}}</td>
								<td>{{ro.price | number:2}}</td>
							</tr>
						</tbody>
					</table>
					<p ng-hide="product.retailOptions.length">No retail option registered yet.
					 Use <strong>Add Option</strong> button to create one.
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<input type="submit"
				class="btn btn-primary"
				value="Create Product"
				ng-click="saveProduct()">
		</div>
	</form>
</div>
