<!-- Main Panel -->
<div class="row" id="main-panel">
	<!-- Side Bar -->
	<div class="col-md-2">
		<div class="row"><h5>Quick Filters:</h5></div>
		<div class="row">
			<ul class="nav nav-stacked" id="filters">
				<li role="presentation" ng-repeat="category in categories">
					<h4><a ng-click="setFilter(category)" class="label label-primary">{{category.name}}</a></h4>
				</li>
				<li role="presentation">
					<h4><a class="label label-primary">Last Edited</a></h4>
					<!-- TODO implement last edited filter -->
				</li>
			</ul>
		</div>
	</div>
	<div class="col-md-10">
		<!-- Menu Bar -->
		<div class="row">
			<div class="col-md-9">
				<div class="btn-group" role="group" aria-label="options-group">
					<a class="btn btn-default" href="#/products/new" role="button">New Product</a>
				</div>
			</div>
			<div class="col-md-3">
				<form class="form-inline" role="form">
					<div class="form-group has-feedback">
						<label class="control-label" for="search"></label>
						<input ng-model="searchText" type="text" class="form-control" id="search" placeholder="Search">
						<span class="glyphicon glyphicon-search form-control-feedback"></span>
					</div>
				</form>
			</div>
		</div>
		<div class="row">&nbsp;</div>
		<!-- Product List -->
		<div class="row list-group">
			<div class="list-group-item" ng-repeat="product in products | filter: {name: searchText, categories: {name: categoryFilter}}">
				<div class="row">	
					<div class="col-md-1">
					  	<a href="">
					  		<img class="media-object product-image" ng-src="{{product.imageUrl}}" width="64px"/>
					  	</a>
					</div>
			  		<div class="col-md-3">
				    	<h4 class="list-group-item-heading">
				    		{{product.name}}
				    	</h4>	
				    	<div class="list-group-item-text">
				    		<ul class="list-inline">
				    			<li ng-repeat="retailOption in product.retailOptions">
				    				<span class="label label-default">{{retailOption.shortName}}:&nbsp;{{retailOption.price | currency: 'R$'}}</span>
				    			</li>
				    		</ul>
				    	</div>
					</div>
					<div class="col-md-6">
						<ul class="list-inline">
							<li ng-repeat="category in product.categories">
								<span class="label label-primary">{{category.name}}</span>
							</li>
						</ul>
					</div>
					<div class="col-md-2">
				    	<a class="btn btn-default" href="#/products/{{product.id}}" role="button">
				    		<span class="glyphicon glyphicon-pencil"></span>
				    	</a>
				    	<a class="btn btn-default" href="#" role="button">
				    		<span class="glyphicon glyphicon-remove"></span>
				    	</a>
					</div>
				</div>
			</div>
		</div>
   	</div>
</div> 
<!-- End Main Panel -->

