/* Everything but the jumbotron gets side spacing for mobile first views */

body {
	background: #f4f2f2;
	-webkit-font-smoothing: antialiased;
}

.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.page-header {
	margin: 20px 0 20px;
}

/* .panel {
	box-shadow: 0 0 10px rgba(0,0,0,.1);	
} */

.navbar {
	margin-bottom:0;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.container {
	min-height: 550px;
}

/* Custom page footer */
.footer {
  margin-top:0px;
  margin-bottom:0px;
  color: #777;
}

.footer > p {
  padding-top:5px;
  margin-right: 5px;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.product-image {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
}

.ingredient {
  margin-left: 3px;
  margin-right: 3px;
  padding: 3px;
}

.ingredient a {
  text-decoration: none;
  font-style: inherit;
  color: white;
}

.ingredient a:hover {
  font-weight:bold;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.ng-invalid.ng-dirty {
  border-color: red;
  outline-color: red;
}

.cxt-error-msg {
	 color: red;
	 margin-left: 10px;
	 font-size: small;
}

.cpos-btn {
	padding: 8px 12px;
	margin-bottom: 2px;
}

.multi-select button {
	background-image: none;
	border-color: #ccc;
}

.multi-select button:hover {
    color: #333;
    background-color: #e6e6e6;
    background-image: none;
    border-color: #adadad;
}

.ingredient-panel {
	min-height:37px;
	padding: 0px 4px;
}

.ingredient-panel h4 {
	margin-top: 8px;
	margin-bottom: 6px;
}

.scrollable {
	overflow:auto;
	max-height: 400px !important;
}

.grid {
    max-height: 400px;
}

.ui-grid-cell-focus {
    background-color: rgba(0, 0, 0, 0);
}

.ui-grid-empty-cell {
	border: 1px solid #ffd31c !important;
}